<!DOCTYPE html>
<html>

<head>
    <title>Cloudflare Page</title>
</head>

<body>
    <h1>Welcome to the Cloudflare Page</h1>
    <p>Redirecting to: <%= url %>
    </p>
    <script>
        window.location.href = "<%= url %>";
    </script>
</body>

</html>